@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin backgroundImage($url: null, $position: center, $size: cover, $repeat: no-repeat) {
  @if $url != null and $url != '' {
    background-image: url(#{$url});
  }
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin gradient($color: map.get($colors, c-black)) {
  background: linear-gradient(to right, $color 0%, map.get($colors, c-transparent) 100%);
}

@mixin skeleton() {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--c-graphite);
  transform: skewX(-40deg);
  border-radius: 0.25em;
  filter: brightness(1.5);
  animation: shimmerEffect 1s infinite linear;

  @keyframes shimmerEffect {
    100% {
      transform: translateX(100%);
    }
  }
}

@mixin loader() {
  width: 4.125px;
  padding: 0.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--c-primary);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;

  @keyframes l3 {
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin swiperStyles(
  $pagination-color: var(--c-primary),
  $bullet-inactive-color: #999999,
  $button-bg-color: var(--c-static-white),
  $button-hover-bg-color: var(--c-grey-light),
  $button-size: 2.5em,
  $button-shadow: 0 0.125px 0.3125px rgba(0, 0, 0, 0.3)
) {
  --swiper-pagination-color: #{$pagination-color};
  --swiper-pagination-bullet-inactive-color: #{$bullet-inactive-color};
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 1px;
  --swiper-pagination-bullet-horizontal-gap: 0.375px;
  --swiper-button-next-disabled-display: none;

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $button-bg-color;
    border-radius: 50%;
    padding: 0.5em;
    width: $button-size;
    height: $button-size;
    box-shadow: $button-shadow;

    &::after {
      font-size: 0.8em;
      font-weight: 900;
      color: var(--c-static-black);
    }

    &:hover {
      background-color: $button-hover-bg-color;
      color: var(--c-static-white);
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}
@mixin fontChannels() {
  font-family: Arial;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--c-icon-main);
}

@mixin simpleBox() {
  padding: 1.25px;
  border-radius: 0.5px;
  background-color: var(--c-black);
  box-shadow: 0 0.25px 0.75px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

@mixin clampText($lines: 1) {
  display: -webkit-box;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin styleBoxes {
  background-color: var(--c-icon-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
  width: 13.75em;
  height: 2.8125em;
  border-radius: 0.375em;
}

@mixin font-medium {
  font-family: Inter;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.05em;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin font-small {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.87em;
  line-height: 1.31em;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin tag {
  background-color: #8a7b7bb4;
  width: auto;
  height: 20px;
  max-width: 323.34px;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 9000px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin imgBoxes {
  width: 4.9375em;
  height: 4.3125em;
  padding-right: 0.625em;
}
@mixin blog-cards() {
  &__title-common {
    padding: 0 var(--s-padding-lateral);

    @include responsive() {
      padding: 0 var(--s-padding-lateral-mobile);
    }
  }

  &__last {
    padding: 0 var(--s-padding-lateral);
    margin: 0 0 4em;

    @include responsive() {
      padding: 0 var(--s-padding-lateral-mobile);
    }
  }

  &__div {
    @include flex(column, $gap: 0.8em, $wrap: wrap);
    gap: 1px;
    &:hover > :not(:hover) {
      opacity: 0.6;
    }
  }
}
