* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inter;
}




::-webkit-scrollbar {
  width: 0.4375em;
  height: auto;
  border-radius: 0.25em;
  background-color: var(--c-red);
  @media (max-width: 53.625em) {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--c-primary);
  border-radius: 0.25em;

  @media (max-width: 53.625em) {
    width: 0;
  }
}
