* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inter;
  color: var( --c-static-white);

    
}

body{
  background-color: black;
}


::-webkit-scrollbar {
  width: 0.4375em;
  background-color: var( --c-black);
  @media (max-width: 53.625em) {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--c-icon-main);
  border-radius: 0.25em;

  @media (max-width: 53.625em) {
    width: 0;
  }
}
