:root {
  --c-black: #000000;
  --c-semi-black: #0d0d0d;
  --c-red: red;
  --c-white: #ffffff;
  --c-graphite: #1a1a1a;
  --c-light-graphite: #f0f0f0;
  --c-grey-light: #f0f0f0;
  --c-grey-medium: #707070;
  --c-blackNavy: #18181B;
  --c-icon-main: #199AFC;
 

  --c-static-black: rgba (14, 14, 16, 1);
  ;
  --c-static-white: #ffffff;
  --c-static-graphite: #1a1a1a;
  --c-static-grey-light: #f0f0f0;

  --f-font-thin: 'neulis-sans-thin';
  --f-font-extraLight: 'neulis-sans-extra-light';
  --f-font-light: 'neulis-sans-light';
  --f-font-regular: 'neulis-sans-regular';
  --f-font-medium: 'neulis-sans-medium';
  --f-font-semiBold: 'neulis-sans-semi-bold';
  --f-font-bold: 'neulis-sans-bold';
  --f-font-extraBold: 'neulis-sans-extra-bold';
  --f-font-black: 'neulis-sans-black';

  --s-border-radius-button: 0.25px;
  --s-border-radius-card: 0.625px;
  --s-font-h1: 3px;
  --s-font-h2: 3px;
  --s-font-h3: 2px;
  --s-font-h4: 1.5px;
  --s-font-p: 1px;
  --s-font-small: 0.875px;
  --s-font-cta: 1px;
  --s-font-h1-mobile: 2px;
  --s-font-h2-mobile: 2px;
  --s-font-h3-mobile: 1.5px;
  --s-font-h4-mobile: 1.3125px;
  --s-margin-blocks: 8px;
  --s-padding-lateral: 8px;
  --s-padding-lateral-mobile: 1px;

  --t-transition-button: 0.3s;
}
